body {
    font-family: 'Arimo', sans-serif;
    background: linear-gradient(to left top, rgba(255,153,153, 0.4) 50%, ivory);
    font-size: 1em;
}

.maximus {
    display: flex;
}

.container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 65%;
}

.nav {
    border-radius: 5px 5px 0 0;
    background-color: #ff9999;
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    border-bottom: 2px solid ivory;
}

.nav .nav-head {
    font-size: 2em;
    font-weight: 700;
    color: ivory;
    margin-left: 0.5em;
    flex-grow: 9;
}

.nav-head img {
    -webkit-filter: invert(.95) sepia(0.3);
    filter: invert(.95) sepia(0.3);
    width: 0.9em;
    height: 0.9em;
    vertical-align: middle;
    padding-bottom: .15em;
}

.nav .nav-item {
    text-align: center;
    flex-grow: 1;
    margin: auto 0;
    color: ivory;
}

.billboard {
    width: 100%;
    height: auto;
    border-bottom: 20px solid transparent;
    border-image: linear-gradient(to bottom, black 99%, rgba(0,0,0,0));
    border-image-slice: 1;
}

.billboard-image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 25em;
    margin-bottom: -.3em;
    border-bottom: 2px solid ivory;
}

.billboard-notices {
    background-color: #ff9999;
    display: flex;
    flex-direction: column;
        border-bottom: 5px ridge ivory;
}

.notice {
    color: ivory;
    margin: 0;
    padding: .5em;
    text-align: center;
    font-weight: 100;
    border-bottom: 2px solid ivory;
}

.billboard-ad {
    object-fit: contain;
}

.memes {
    display: flex;
    flex-direction:row;
    z-index: -1;
    margin-top: -1.7em;
    padding: 2%;
    background-color: ivory;
    width: 96%;
}

.billboard-text {
    color: ivory;
    margin: 0 auto;
    height: 0;
    position: relative;
    top: 14.5em;
    text-align: center;
}

.billboard-text span {
    padding: 1%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
}

.content {
    flex: 4 0 0;
    text-align: center;
    width: 100%;
    -moz-column-count: 3;
    -moz-column-gap: 3em;
    -moz-column-width: 3em;
    -webkit-column-count: 3;
    -webkit-column-gap: 3em;
    -webkit-column-width: 3em;
    column-count: 3;
}

.content-img-lg {
    width: 90%;
}

.content-img-md {
    width: 40%;
}

.img-attr {
    box-shadow: rgba(0,0,0,0.2) 2px 8px 8px;
}

.content-text {
    width: 90%;
    padding: 2%;
    background-color: floralwhite;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.2) 2px 4px 4px;
}

.side-bar {
    border-left: 2px solid rgba(0,0,0,0.1);
    padding-left: 1em;
    align-self: flex-start;
    display: flex;
    flex: 1 0 0;
    margin-left: 1em;
    flex-direction: column;
}

.side-bar-item {
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 8px;
    padding: 1em;
    background-color: antiquewhite;
}

.rightside-ad {
    margin-left: 1em;
    margin-right: auto;
}

footer {
    padding: .1em;
    text-align: center;
    color: ivory;
    border-top: 5px groove ivory;
    border-radius: 0 0 5px 5px;
    background-color: #ff9999;
}

@media (max-width: 1368px) {
    .container {
        width: 100%;
    }

    .content {
        column-count: 2;
    }

    .rightside-ad {
        display: none;
    }

    .billboard-ads {
    }
}

@media (max-width: 700px) {
    .content {
        column-count: 1;
    }

    .memes {
        flex-direction: column-reverse;
    }

    .side-bar {
        border-left: none;
        padding: 0;
        width: 100%;
        display: block;
        margin: 1em 0;
    }
}